doctype html
html(lang="en")
    head
        title
          | Hacker News

        script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(type='text/javascript', src='/home.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
    .container
        header.jumbotron2.my-3
            h1.display-2.
                HN Feed
            p.lead.
                We <3 hacker news!
        div.container-fluid
            div#contentNews
